<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Genre creation form</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/library.css" th:href="@{css/library.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/createGenre.js"></script>
</head>
<body>

<h4>Logged user: <span sec:authentication="name"></span> | <span sec:authentication="principal.authorities"></span></h4>

<form id="create-genre-form" class="create-genre-form">
    <h1>Create genre:</h1>

    <div class="row">
        <label for="name-input">Genre name: </label>
        <input id="name-input" class="name-input" name="name" type="text"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
<a href="index.html" th:href="@{/}">Back to main</a>
<br/>
<a href="allGenres.html" th:href="@{/genres}">Back to all genres</a>
<br/>
<br/>
<form id="logout-form" th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>